*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kumbh Sans', sans-serif;
	color: white;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

main {
	min-height: 96vh;
}
