@use "abstracts/typography";
@use "abstracts/variables";
@use "abstracts/reset";
@use "abstracts/mixins";
@use "layout/navigation";
@use "layout/header";
@use "components/lightBox";

// components
@use "components/card";
@use "components/accordion";
@use "layout/errorPage";
@use "components/section_personal";
@use "components/technosSection";
@use "components/footer";
@use "components/swiperComp";
@use "components/modal";

// pages
@use "pages/home";
@use "pages/experience";
@use "pages/titles";
@use "components/pageTitle";
@use "pages/projects";
@use "pages/contact";
@use "pages/singleProject";

body {
	background-color: variables.$prim-bg;
}

main {
	background: variables.$semi-transparent;
	background: linear-gradient(
		180deg,
		variables.$semi-transparent -34%,
		rgba(9, 13, 18, 1) 129%
	);
	position: relative;
	z-index: 1;
	min-height: 87vh;
	overflow-x: hidden;
}

.container {
	position: relative;
	z-index: 0;
	margin: auto;
}

.swiper-cube {
	max-width: 100%;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
