@import './base/reset';
@import './abstracts/variables';
@import './base/typography';
@import './layout/navigation';
@import './components/lightBox';

.container {
	background-color: $prim-bg;
	position: relative;
	z-index: 0;
}
