@use "variables";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: variables.$primary-font;
	color: white;
	font-size: variables.$base-font-size;
	font-weight: 400;
}

img {
	max-width: 100%;
	vertical-align: middle;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style-type: none;
}
