/* colors */
$primary-clr: #a3ff94;
$prim-bg: #090d12;
$font-clr: #eeeeee;
$font-clr-alt: #b0b0b0;

/*  spacing   */
$base-padding: 0.7em;
$base-margin: 0.7em;

/*  border radious  */
$base-border-radious: 8px;

/*  breakpoints sizes     */

$breakpoints: (
	"small": "screen and (max-width: 576px)",
	"medium": "screen and (min-width: 768px)",
	"large": "screen and (min-width: 992px)",
	"x-large": "screen and (min-width: 1200px)",
);

$primary-font: "Julius Sans One", sans-serif;
$secondary-font: "Kumbh Sans", sans-serif;

$base-font-size: 1em;
$prim-title-font-size: $base-font-size * 1.7;
$sec-title-font-size: $base-font-size * 1.5;
