/* colors */
$primary-clr: #a3ff94;
$second-clr: #36229a;
$prim-bg: #090d12;
$font-clr: #eeeeee;
$font-clr-alt: #b0b0b0;
$font-clr-grey: #cfcfcf;
$semi-transparent: rgba(255, 255, 255, 0.05);

/*  spacing   */
$base-padding: 0.7em;
$base-margin: 0.7em;

/*  border radious  */
$base-border-radious: 8px;

/*  breakpoints sizes     */

$breakpoints: (
	"small": "screen and (max-width: 576px)",
	"medium": "screen and (min-width: 875px)",
	"large": "screen and (min-width: 992px)",
	"x-large": "screen and (min-width: 1200px)",
);

$primary-font: "Julius Sans One", sans-serif;
$secondary-font: "Kumbh Sans", sans-serif;

$base-font-size: 1em;
$prim-title-font-size: $base-font-size * 1.7;
$sec-title-font-size: $base-font-size * 1.4;
$sm-font-size: $base-font-size * 0.88;

$screen-max-width: 920px;
