@use "../abstracts/variables";

.experience {
	padding: variables.$base-padding;
	max-width: variables.$screen-max-width;
	margin: auto;

	span {
		display: inline;
		width: 100%;
		font-family: variables.$secondary-font;
		font-weight: 200;
	}

	.card {
		width: 100%;
		max-width: variables.$inner-screen-width;
		padding: variables.$base-padding * 2;
		margin-bottom: variables.$base-margin * 2;

		.card_title {
			display: inline;
			color: variables.$font-clr-alt;
			font-size: variables.$sm-font-size;
			margin-left: variables.$base-margin * 0.5;
		}

		a {
			color: variables.$primary-clr;
		}

		ul {
			margin: variables.$base-margin;

			span {
				color: variables.$font-clr-grey;
			}
		}

		li {
			margin-top: variables.$base-margin;
		}

		.responsibility__category {
			font-family: variables.$primary-font;
			font-weight: 700;
			font-size: 1.1em;
			margin-right: 0.5em;
			color: variables.$font-clr;
		}

		.card_date {
			font-family: variables.$secondary-font;
			display: inline-block;
			color: variables.$font-clr-alt;
			font-size: variables.$sm-font-size;
			padding-left: variables.$base-padding;
			padding-top: variables.$base-margin * 0.5;
			width: 100%;
			text-align: left;
		}

		p {
			margin-top: variables.$base-margin;
		}
	}
}
