.home {
	padding: $base-padding;
	max-width: $screen-max-width;
	margin: auto;

	h2:not(h2:first-child) {
		display: none;
	}

	&__self_intro {
		width: 100%;
		line-height: 1.5;
		font-size: 1em !important;
		text-align: center;
		height: auto;
		display: flex;
		align-items: center;
		padding: 0;
		p {
			margin: $base-margin 0;
		}
	}
	&__self_intro-desktop {
		display: none;
	}

	.card__body {
		padding: $base-padding 0;
	}

	.card__social {
		margin-top: $base-margin;
		margin-bottom: $base-margin;
	}

	.contact_info:last-child {
		font-family: $secondary-font;
		font-weight: 200;
	}

	.contact_info {
		margin-top: $base-margin;
		text-align: center;
		font-size: $sm-font-size;
		color: $font-clr-grey;
	}

	@include respond-to("medium") {
		display: flex;
		height: 90dvh;
		align-items: center;
		gap: $base-margin;
		padding: $base-padding * 2;

		&__self_intro {
			width: 50%;
			font-size: 1.2em !important;
			padding: $base-padding;
			line-height: 2.5;
		}

		&__self_intro-desktop {
			display: flex;
		}

		&__self_intro-mobile {
			display: none;
		}

		h2 span {
			font-size: 1.2em;
			color: #a3ff94;
		}

		.card {
			max-width: 350px;
			margin: 0;
		}
	}

	@include respond-to("large") {
		padding: $base-padding * 2.5;
	}
}
