.projects {
	h3 {
		font-size: $sec-title-font-size;
		margin-bottom: $base-margin;
		margin-top: $base-margin;
		color: $primary-clr;
	}
	.card {
		max-width: $inner-screen-width;
		margin: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: $base-margin * 2;
	}

	.card__technologies {
		display: flex;
		justify-content: space-between;
		padding: $base-padding;
		flex-wrap: wrap;

		span {
			text-align: center;
			background-color: $primary-clr;
			width: fit-content;
			min-width: unset;
			padding: 0.6em 0.7em;
			font-size: 12px;
			min-width: 52px;
		}
	}

	.swiper-slide-active {
		figcaption {
			transform: translateY(10px);
		}
	}

	figure {
		position: relative;
		overflow-y: hidden;

		figcaption {
			position: absolute;
			bottom: 1em;
			left: 1em;
			padding: 1em;
			background-color: rgb(219 219 219 / 8%);
			backdrop-filter: blur(4px);
			width: calc(100% - 2em);
			transition: transform 450ms ease-in-out;
			transform: translateY(200px);
		}
	}

	@include respond-to("medium") {
		.card__technologies {
			span {
				padding: $base-padding 2em;
				font-size: $base-font-size;
			}
		}
	}
}
