.titlesSection {
	padding: $base-padding;

	.titlesSection_level {
		color: $font-clr-alt !important;
		font-family: $secondary-font;
		font-size: $sm-font-size;
		padding-left: 3.3em;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 42.5px;
	}

	.accordion_school {
		width: 40px;
		border-radius: 50%;
		position: absolute;
		left: -25px;
		top: 0;
	}

	ul {
		padding: $base-padding;
	}

	li {
		padding-bottom: $base-padding;
		display: flex;
		align-items: center;
	}
	button {
		border: none;
		background-color: transparent;
	}

	.card__btn {
		background-color: $primary-clr;
		cursor: pointer;
	}

	span:not(.page_title span) {
		color: $primary-clr;
		font-style: italic;
	}

	h3 {
		font-size: $sec-title-font-size;
		margin: $base-margin;
	}

	.card {
		max-width: 700px;
		margin: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		border-bottom: 1px solid $font-clr;

		div {
			display: flex;
			align-items: center;
			width: 100%;
		}

		button {
			margin: 0.7em auto;
			padding: 0.65em 2em;
			background-color: $primary-clr;
			color: $prim-bg;
			width: 100%;
			border-radius: 25px;
			min-width: 286px;
			font-size: 20px;
			font-weight: bold;
			cursor: pointer;
		}
	}

	.titlesSection__courses {
		h4 {
			//margin-left: $base-margin * 4;
			margin-left: 0.7em;
			display: flex;
			align-items: center;
		}
		span:first-child {
			color: #ededed;
			width: 100%;
			font-family: $secondary-font;
		}
	}

	.courses_imgs {
		left: $base-padding;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		// position: absolute;
		// top: 50%;
		// transform: translateY(-50%);
	}
}
