.accordion {
	width: 100%;
	max-width: 700px;
	margin: auto;

	& &__button {
		width: 100%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.7em;
		cursor: pointer;
		background-color: #b0b0b03b;
		border-radius: 5px;

		svg {
			stroke: $primary-clr;
			transition: all 270ms ease-in-out;
		}
	}

	.accordion__header {
		font-size: $base-font-size;
	}

	.accordion_school {
		width: 45px;
		border-radius: 50%;
		margin-left: 1.7em;
		mix-blend-mode: screen;
	}

	& &__button-active {
		background-color: $primary-clr;
	}

	& &__button-active span {
		color: $second-clr !important;
		font-weight: 800;
	}

	& &__button-active svg {
		stroke: $second-clr;
	}

	.titlesSection_level .accordion__year {
		color: $primary-clr;
		margin-left: $base-margin;
	}

	&__body {
		position: relative;
		overflow: hidden;
		transform: translateY(-5px);
		transition: all 0.31s ease-out;
		padding: 0 16px 0 16px;
		transform: translateY(-5px);
		max-height: 0px;
		line-height: 1.5;
	}

	&__content {
		margin-top: $base-margin;
	}

	.accordion__items li {
		font-family: $secondary-font;
	}

	.accordion-right {
		display: flex;
		width: 100%;
		justify-content: end;
	}

	.accordion__btn-sec {
		background-color: $second-clr;
		padding: $base-padding;
		border-radius: 5px;
	}
}
