.accordion {
	width: 100%;
	max-width: 700px;
	margin: auto;

	& &__button {
		width: 100%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0.7em auto;
		padding: 0.65em 1.6em;
		cursor: pointer;
		// background-color: #b0b0b03b;
		border-radius: 25px;
		height: 3em;

		// border-radius: 30px;
		box-shadow: 1px -1px 2px -1px rgba(255, 255, 255, 0.6901960784),
			-3px 2px 20px 0px rgba(0, 0, 0, 0.58),
			-2px 2px 3px 0px rgba(0, 0, 0, 0.69);
		background: rgb(33, 48, 67);
		background: linear-gradient(
			40deg,
			rgba(16, 25, 37, 0.3) 34%,
			rgba(132, 132, 143, 0.18) 118%
		);

		svg {
			stroke: $primary-clr;
			transition: all 270ms ease-in-out;
		}
	}

	.accordion__header {
		font-size: $base-font-size;
	}

	.accordion_school {
		width: 45px;
		border-radius: 50%;
		margin-left: 1.7em;
		mix-blend-mode: screen;
	}

	& &__button-active {
		background-color: $primary-clr;
	}

	& &__button-active span {
		color: $second-clr !important;
		font-weight: 800;
	}

	& &__button-active svg {
		stroke: $second-clr;
	}

	.titlesSection_level .accordion__year {
		color: $primary-clr;
		margin-left: $base-margin;
	}

	&__body {
		position: relative;
		overflow: hidden;
		transform: translateY(-5px);
		transition: all 0.31s ease-out;
		padding: 0 16px 0 16px;
		transform: translateY(-5px);
		max-height: 0px;
		line-height: 1.5;
	}

	&__content {
		margin-top: $base-margin;
	}

	.accordion__items li {
		font-family: $secondary-font;
	}

	.accordion-right {
		display: flex;
		width: 100%;
		justify-content: end;
	}

	.accordion__btn-sec {
		background-color: $second-clr;
		padding: $base-padding;
		border-radius: 5px;
	}
}
