.card {
	max-width: 350px;
	margin: auto;
	padding: 1em;
	width: 100%;
	overflow: hidden;

	&__title {
		display: flex;
		justify-content: space-between;
		padding: 2em 0.5em;
		align-items: center;
	}
	h2 {
		color: $primary-clr;
		font-family: $primary-font;
		font-size: 34px;
		font-weight: 400;
	}
	span {
		display: block;
		width: 150px;
		text-align: right;
		font-size: 18px;
	}
	&__img {
		border-radius: 25px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		aspect-ratio: 1/1;
		max-width: 250px;
		margin: auto;
	}
	&__img img {
		object-fit: cover;
		min-width: 360px;
	}

	&__body {
		text-align: center;
		padding: 0.8em;
	}

	&__body p {
		margin: 0.8em;
	}

	&__social {
		display: flex;
		justify-content: space-around;
	}

	&__btn {
		margin: $base-margin auto;
		padding: 0.65em 2em;
		border: none;
		background-color: $primary-clr;
		color: $prim-bg;
		display: block;
		border-radius: 25px;
		min-width: 286px;
		font-size: 20px;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.8em;
		cursor: pointer;
	}

	@media (min-width: 768px) {
		margin-left: 3em;
		border: 1px solid #ffffff05;
		border-radius: 30px;
		box-shadow: 1px -1px 2px -1px rgba(255, 255, 255, 0.6901960784),
			-3px 2px 20px 0px rgb(0 0 0 / 58%), -2px 2px 3px 0px rgb(0 0 0 / 69%);
		// transform: translateY(-124px) rotateY(10deg);
		background: rgb(33, 48, 67);
		background: rgb(33, 48, 67);
		background: linear-gradient(
			40deg,
			rgb(16 25 37 / 30%) 34%,
			rgb(132 132 143 / 18%) 118%
		);
	}
}
