.card {
	max-width: 350px;
	margin: auto;

	&__title {
		display: flex;
		justify-content: space-between;
		padding: 2em 0.5em;
		align-items: center;
	}
	h2 {
		color: $primary-clr;
		font-family: 'Julius Sans One', sans-serif;
		font-size: 34px;
		font-weight: 400;
	}
	span {
		display: block;
		width: 150px;
		text-align: right;
		font-size: 18px;
	}
	&__img {
		border-radius: 25px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		aspect-ratio: 1/1;
		max-width: 250px;
		margin: auto;
	}
	&__img img {
		object-fit: cover;
		min-width: 360px;
	}

	&__body {
		text-align: center;
		padding: 0.8em;
	}

	&__body p {
		margin: 0.8em;
	}

	&__social {
		display: flex;
		justify-content: space-around;
	}

	&__btn {
		margin: 2em auto;
		padding: 0.65em 2em;
		border: none;
		background-color: $primary-clr;
		color: $prim-bg;
		display: block;
		border-radius: 25px;
		min-width: 286px;
		font-size: 20px;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: .8em;
	}

	@media (min-width: 768px) {
		margin: 0;
	}
}
