@use "../abstracts/mixins";
@use "../abstracts/variables";

footer {
	display: none;
	text-align: center;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	max-width: 500px;
	margin: auto;

	p {
		margin-bottom: 1em;
	}

	@include mixins.respond-to("medium") {
		display: block;
		padding: variables.$base-padding;
	}

	// @include respond-to("large") {
	// 	padding: $base-padding * 2.5;
	// }
}
