.page_title {
	font-size: 36px;
	font-weight: 400 !important;
	padding: 0.7em 0.35em;

	span {
		color: $primary-clr;
		font-size: $base-font-size * 1.2;
		color: $primary-clr;
	}

	span:first-child {
		margin-left: $base-margin * 0.8;
	}
}
