.technosSection {
	padding: $base-padding;
	h2 {
		font-size: 36px;
		font-family: $primary-font;
		font-weight: 400;
		padding: $base-padding $base-padding * 0.5;
	}

	ul {
		padding: $base-padding;
	}

	li {
		padding-bottom: $base-padding;
	}

	span {
		color: $primary-clr;
	}

	.technosSection__item {
		color: white;
		font-family: $secondary-font;
		font-weight: 200;
		margin-left: $base-margin;
		font-size: $base-font-size;
	}
}
