@use "../abstracts/mixins";
@use "../abstracts/variables";

.technosSection {
	padding: variables.$base-padding;
	max-width: variables.$screen-max-width;
	margin: auto;

	h2 {
		font-size: 36px;
		font-family: variables.$primary-font;
		font-weight: 400;
		padding: variables.$base-padding variables.$base-padding * 0.5;
		margin-top: 0.75em;
	}

	ul {
		padding: variables.$base-padding;
		max-width: variables.$inner-screen-width;
		margin: auto;
	}

	li {
		padding-bottom: variables.$base-padding;
	}

	span {
		color: variables.$primary-clr;
	}

	.techno__about {
		padding-top: 0;
		width: 100%;
		line-height: 1.4;
		text-align: center;
		font-size: 1em !important;
		max-width: variables.$inner-screen-width;
		margin: auto;
	}

	.technosSection__item {
		color: white;
		font-family: variables.$secondary-font;
		font-weight: 200;
		margin-left: variables.$base-margin;
		font-size: variables.$base-font-size;
	}
	@include mixins.respond-to("medium") {
		.techno__about {
			font-size: 1.2em !important;
			line-height: 1.6;
		}
		span {
			font-size: variables.$sec-title-font-size * 1.1;
		}

		.technosSection__item {
			font-size: variables.$base-font-size * 1.3;
		}
		li {
			margin: variables.$base-margin;
		}
	}
}
