.technosSection {
	padding: $base-padding;
	max-width: $screen-max-width;
	margin: auto;

	h2 {
		font-size: 36px;
		font-family: $primary-font;
		font-weight: 400;
		padding: $base-padding $base-padding * 0.5;
	}

	ul {
		padding: $base-padding;
		max-width: 700px;
		margin: auto;
	}

	li {
		padding-bottom: $base-padding;
	}

	span {
		color: $primary-clr;
	}

	.techno__about {
		padding-top: 0;
		font-size: 0.9em !important;
		width: 100%;
		line-height: 1.5;
		/* padding-right: 59px; */
		font-size: 0.9em !important;
		text-align: center;
	}

	.technosSection__item {
		color: white;
		font-family: $secondary-font;
		font-weight: 200;
		margin-left: $base-margin;
		font-size: $base-font-size;
	}
	@include respond-to("medium") {
		span {
			font-size: $sec-title-font-size * 1.1;
		}

		.technosSection__item {
			font-size: $base-font-size * 1.3;
		}
		li {
			margin: $base-margin;
		}
	}
}
