@use "../abstracts/mixins";
@use "../abstracts/variables";

.header {
	width: 100%;
	height: fit-content;
	position: static;
	max-width: variables.$screen-max-width;
	z-index: 10;
	pointer-events: auto;

	@include mixins.respond-to("large") {
		height: 100dvh;
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}
